<% if @order %>
	<p>해당 주문을 삭제하시겠습니까? <em>"<%= @order.beverage %>"</p>
	<form action="/<%= @order.id %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="해당 주문을 삭제합니다">
		<a href="/">메인화면으로</a>
	</form>

<% else %>
	<p>해당 주문이 없습니다.</p>
<% end %>