<form action="/" method="post">
	<p>
		이름 <input type="text" name="name">
		음료 
		<select name="beverage">
			<option value="아이스 아메리카노">아이스 아메리카노</option>
			<option value="아메리카노">아메리카노</option>
			<option value="아이스 그린티라테">아이스 그린티라테</option>
			<option value="그린티라테">그린티라테</option>
		</select>
		<input type="submit">
	</p>
</form>


<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>이름</th>
      <th>음료</th>
    </tr>
  </thead>
  <tbody>
	<% @orders.each do |order| %>
	  <tr>
	  	<td><%= order.id %></td>
	    <td><%= order.name %></td>
	    <td><%= order.beverage %></td>
	    <td><a href='/<%= order.id %>'>[수정]</a></td>
	  </tr>
	<% end %>
  </tbody>
</table>

