<form class="form-inline" role="form" action="/" method="post">
	<div class="form-group">
		<label>이름</label>
		<input type="text" name="name">
	</div>
	<div class="form-group">
		<label>음료선택</label> 
		<select class="form-control"  name="beverage">
			<option value="아이스 아메리카노">아이스 아메리카노</option>
			<option value="아메리카노">아메리카노</option>
			<option value="아이스 그린티라테">아이스 그린티라테</option>
			<option value="그린티라테">그린티라테</option>
		</select>
	</div>
	<input type="submit">
</form>

<h1>주문 목록</h1>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>이름</th>
      <th>음료</th>
    </tr>
  </thead>
  <tbody>
	<% @orders.each do |order| %>
	  <tr>
	  	<td><%= order.id %></td>
	    <td><%= order.name %></td>
	    <td><%= order.beverage %></td>
	    <td><a href='/<%= order.id %>'>[수정]</a></td>
	  </tr>
	<% end %>
  </tbody>
</table>

