<form action="/" method="post">
	<p>
		이름 <input type="text" name="name">
		음료 <input type="text" name="beverage">
		<input type="submit">
	</p>
</form>

<% @orders.each do |order| %>
	<p>
		이름 : <%= order.name %>,
		음료 : <%= order.beverage %>
	</p>
<% end %>